.button {
  fill: #fff;
  height: fit-content;
  margin: auto 0;
  padding: 5px;
  cursor: pointer;
  border-width: 0px;
  color: #fff;
  text-align: center;
  filter: drop-shadow(2px 2px 1px #00000075);
}

.button[disabled] {
  cursor: not-allowed;
  border: 1px #b3b3b370 solid;
}

.button.default {
  background-color: #29abe1;
}

.button.default[disabled] {
  background-color: #29abe170;
}

.button.add {
  background-color: #0bd26e;
}

.button.add[disabled] {
  background-color: #0bd26e70;
}

.button.delete {
  background-color: #ff0000;
}

.button.delete[disabled] {
  background-color: #ff000070;
}
