#content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

#content-fixed-title {
  padding: 30px 30px 20px 30px;
}

#content-fixed-title #page-title {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: unset;
}

#content {
  padding: 30px;
  overflow: hidden auto;
}

#content.fixed-title {
  padding-top: unset;
}

#content-container {
  max-width: 960px;
  margin: 0 auto;
}

#content-container p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

#scroll-view-observer {
  position: relative;
  bottom: 150px;
}

#page-title {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 20px;
}

#page-title h1 {
  margin: 0;
}
