.table {
  display: grid;
  width: 100%;
}

.table-header {
  padding: 5px;
  font-size: 16px;
  color: #232323;
  white-space: nowrap;
}

/* 
.table-header-cell {
}

.table-row {
    background: #fff;
}

.table-row-even {
}
*/

.table-row-odd {
  background: #ccc;
}

/*
.table-row-highlight {
}

.table-col-even {
}

.table-col-odd {
}
*/

.table-cell {
  display: flex;
  align-items: center;
  padding: 7px;
  font-size: 17px;
  white-space: nowrap;
}
