.input-field-image {
  display: grid;
  row-gap: 10px;
}
.input-field-image-preview {
  border: 1px solid #767676;
  max-width: 100%;
  max-height: 150px;
}
.input-field-image-buttons {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
