@font-face {
  src: url(../../public/fonts/ubuntu_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  padding: 0;
  background-color: #fff;
  font-family: Ubuntu, Arial, "libra sans", sans-serif;
}

a {
  transition: color 0.2s ease 0s;
  font-weight: bold;
  color: #29abe1;
  text-decoration: none;
}

a:hover {
  color: #066471;
}

h1 {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: normal;
}

h2 {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
  color: #29abe1;
}

h3 {
  margin: 6px 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

p {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 22px;
  color: #303030;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.indented-text {
  display: inline-block;
  margin-left: 20px;
}

.background-image {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #29abe1;
  color: #fff;
}

.highlight {
  background: #29abe1 !important;
  color: #fff !important;
}

label {
  text-wrap: nowrap;
}

input,
textarea {
  border: 1px solid #767676;
  border-radius: 2px;
  padding: 5px 7px;
}

input:focus-visible,
textarea:focus-visible {
  outline-color: #29abe1;
}
